*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:'Poppins',sans-serif;
    background:#0f0a1f;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:rgba(255,255,255,0.05);
}

.logo{color:#a855f7;}

.nav-links a{
    margin:10px;
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:25px;
    background:#a855f7;
    color:white;
    cursor:pointer;
}

.glass{
    margin:30px auto;
    width:80%;
    padding:20px;
    background:rgba(255,255,255,0.05);
    border-radius:10px;
    text-align:center;
}
.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;   /* circle banayega */
    object-fit: cover;    /* image stretch nahi hogi */
    border: 3px solid #a855f7;
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
}

.projects{
    display:flex;
    justify-content:center;
}

.card{
    padding:20px;
    background:rgba(255,255,255,0.08);
    border-radius:10px;
}

.card a{
    display:block;
    margin:5px;
    color:#a855f7;
}

input,textarea{
    width:80%;
    padding:10px;
    margin:10px;
    border-radius:10px;
    border:none;
}
